
table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.sheet th {
    color : #3B3131 ;
	font-weight : bold ;
	font-size : 14px ;
	
}
tr:nth-child(even)		{ background-color:#eee; }
tr:nth-child(odd)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}
